* {
  font-family: 'Quattrocento', serif;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.2em;
}

.left {
  width: 25%;
  float: left;
  height: 100%;
  overflow: auto;
  background-color: #518100;

}

.right {
  margin-left: 30%;
  height: 100%;
  overflow: auto;
  background-color: #5181A3;
}
