* {
  font-family: 'Quattrocento', serif;
}


body {
    background-color: #51819C;
    margin: auto;
    width: 60%;
    padding: 10px;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 1.5em;
}

.intro {
  padding-top: 30%;
}

.left {
  width: 30%;
  float: left;
}

.right {
  margin-left: 30%;
}
